/* Coolors Exported Palette - https://coolors.co/8e155c-f3eef5-d6c3da-570b68-3e046c */

/* CSS HEX */
--flirt: #8e155cff;
--magnolia: #f3eef5ff;
--thistle: #d6c3daff;
--blue-violet-color-wheel: #570b68ff;
--indigo: #3e046cff;

/* CSS HSL */
--flirt: hsla(325, 74%, 32%, 1);
--magnolia: hsla(283, 26%, 95%, 1);
--thistle: hsla(290, 24%, 81%, 1);
--blue-violet-color-wheel: hsla(289, 81%, 23%, 1);
--indigo: hsla(273, 93%, 22%, 1);

/* SCSS HEX */
$flirt: #8e155cff;
$magnolia: #f3eef5ff;
$thistle: #d6c3daff;
$blue-violet-color-wheel: #570b68ff;
$indigo: #3e046cff;

/* SCSS HSL */
$flirt: hsla(325, 74%, 32%, 1);
$magnolia: hsla(283, 26%, 95%, 1);
$thistle: hsla(290, 24%, 81%, 1);
$blue-violet-color-wheel: hsla(289, 81%, 23%, 1);
$indigo: hsla(273, 93%, 22%, 1);

/* SCSS RGB */
$flirt: rgba(142, 21, 92, 1);
$magnolia: rgba(243, 238, 245, 1);
$thistle: rgba(214, 195, 218, 1);
$blue-violet-color-wheel: rgba(87, 11, 104, 1);
$indigo: rgba(62, 4, 108, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);
$gradient-right: linear-gradient(90deg, #8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);
$gradient-bottom: linear-gradient(180deg, #8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);
$gradient-left: linear-gradient(270deg, #8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);
$gradient-top-right: linear-gradient(45deg, #8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);
$gradient-bottom-right: linear-gradient(135deg, #8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);
$gradient-top-left: linear-gradient(225deg, #8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);
$gradient-bottom-left: linear-gradient(315deg, #8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);
$gradient-radial: radial-gradient(#8e155cff, #f3eef5ff, #d6c3daff, #570b68ff, #3e046cff);